<main>
    <div class="bg-light text-center py-5">
     <h1>Contact</h1>
    </div>
    <div class="container my-2 bg-light p-5 rounded-3">
      <form>
       <label>Name:</label>
       <input type="text" class="form-control mb-3">
       <label>Email:</label>
       <input type="email" class="form-control mb-3">
       <label>Message:</label>
       <textarea cols="30" rows="10" class="form-control"></textarea>
       <button class="btn btn-dark mt-3">Submit</button>
      </form>

    </div>
  </main>