<main>
    <div style="background-color:rgb(31, 88, 31) ;">
      <div class="container py-3">
        <div class="row">
          <div class="col-12 col-lg-6 text-center text-lg-start d-flex align-items-center justify-content-center">
            <div> 
              <h1 class="text-warning display-2">The <span class="text-white">Cutest</span></h1>
              <h1 class="text-warning display-2">Puppies!</h1>
            </div>

          </div>
            <div class="col-12 col-lg-6 text-center ">
                <img src="./assets/images/pup1.jpg" class="img-fluid w-75" >
            </div>
        </div>
    </div>
    </div>
    <div class="container">
      <div class="d-flex align-content-center justify-content-between bg-light p-3 mb-3">
        <h2 class="m-0 fw-bold text danger">Popular Posts</h2>
        <a href="#" [routerLink]="['/blog']" class="btn btn-outline-danger"> View all</a>
      </div>
        <app-posts class="row" [colClass]="['col-lg-3']"></app-posts>
    </div>
</main>